#space {
    float: left;
    width: 70%;
    min-height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    z-index: -1;
    background-color: white;
}

#titulo {
    background-color: black;
    color: white;
    width: 100%;
    height: 20px;
}

.floor {
    border: 5px solid black;
    width: 500px;
    height: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 
#f3{
    background-image: url("../../../public/1.png");
}
#f2{
    background-image: url("../../../public/2.png");
}
#f1{
    background-image: url("../../../public/2.png");
}
#T{
    background-image: url("../../../public/3.png");
} */

#btn {
    background-color:gray;
    width: 100px;
    height: 100px;
    float: right;
    border: 3px rgb(241, 241, 241) solid;
    margin: 20px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

#btn:hover {
    background-color: rgb(95, 95, 95);
}

#controller {
    padding-top: 200px;
    min-height: calc(100vh - 220px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(207, 207, 207);
}


#predio {
    background-color: rgb(51, 44, 44);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /*margin-bottom: 40px;*/
    z-index: 1;
    padding: 10px;
    /*background-image: url("../../../public/7.png");*/
    background-size: 100% 110%;
    background-repeat: no-repeat;
}

#chao {
    height: 200px;
}

.btnAndar {
    height: 15px;
    width: 15px;
    background-color: gray;
    border-radius: 100px;
    position: relative;
    right: 80px;
    cursor: pointer;
}

.btnAndar:hover {
    background-color: rgb(255, 182, 25);
}