#space{
    float: left;
    width:70%;
    min-height:  calc(100vh - 20px);
    background-image: url("../../../public/6.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    z-index: -1;
}

#titulo{
    background-color: black;
    color: white;
    width: 100%;
    height: 20px;
}

.floor{
    border: 5px solid black ;
    width: 500px;
    height: 150px;
}

#f3{
    background-image: url("../../../public/1-removebg-preview.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#f2{
    background-image: url("../../../public/2-removebg-preview.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#f1{
    background-image: url("../../../public/2-removebg-preview.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#T{
    background-image: url("../../../public/4-removebg-preview.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#btn{
    background-color: red;
    width: 100px;
    height: 100px;
    float: right;
    border: 3px gray solid;
    margin: 20px;
}
#btn:hover{
    background-color: brown;
}

#controller{
    padding-top: 200px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
}
#elevador{
    width: 170px;
    height: 100%;
    background-color: red;
}


#predio{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 40px;
    z-index: 1;
}

#chao{
    position: absolute;
    height: 160px;
    width: 70%;
    z-index: 0;
    background-image: url("../../../public/5-removebg-preview.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: -10px;
}